<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<form method="post" th:action="@{/login}">
    <input type="text" name="username" placeholder="Login">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="login" value="Log In">
</form>
<a th:href="@{/registration}">Sign Up</a>
</body>
</html>